.header {
    width: 100%;
    
}

.header-container {
    padding: 2.7rem 0;
    
    display: flex;
    justify-content: space-between;
}

.header-side {
    
    display: flex;
    flex-flow: row;
    align-items: center;
}

.header-left {
    max-width: 430px;
    .header-link {
        margin-left: 1.65rem;
    }
}

.header-right {
    .header-link {
        margin-right: 1.7rem;
    }
}

.logo-image {
    padding-right: 1.7rem;
    border-right: solid 1px $headerBorder;
    img {
    width: 175px;
    }
}

.header-link {
    font-size: 1.16rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    svg {
        color: #777;
        width: 1.2rem;
        margin-left: 0.3rem;
        margin-right: -0.3rem;
    }
}

.header-contact {
    border-left: solid 1px $headerBorder;
    height: 100%;
    display: flex;
    align-items: center;
    .button-link {
        font-weight: 600;
        font-size: 1.15rem;
        padding: 0.8rem 1.25rem;
    }
}

.contact-tel {
    margin-left: 1.65rem;
    margin-right: 1.2rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: $eposBlue;
    font-weight: 700;
}