.trustpilot {
  margin-top: 4rem;
  margin-bottom: 9rem;
  max-width: fit-content;
  img {
    width: 57rem;
  }
}

.centered-paragraph {
  max-width: 60%;
  text-align: center;
  .centered-paragraph-title {
    font-size: 3rem;
    color: $dark;
    font-weight: 600;
    line-height: 3.7rem;
    margin-block-end: 2rem;
  }
  .centered-paragraph-description {
    font-size: 1.5rem;
    text-align: initial;
    max-width: 80%;
    text-indent: 1rem;
    color: $light;
    line-height: 2.3rem;
  }
  &.questions-box {
    margin-top: -2rem;
    margin-bottom: 12rem;
    h2 {
      font-size: 4rem;
    }
    .centered-paragraph-description {
      text-align: center;
      text-indent: 0rem;
      margin-block-end: 3.5rem;
    }
  }
}

.small-card-set {
  display: flex;
  flex-flow: row wrap;
  padding: 4rem 0;
  .small-card {
    max-width: 33%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    img {
      width: 4rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin-block-end: 1rem;
    }
    p {
      margin-block-start: 0rem;
      font-size: 1.5rem;
      padding: 0rem 4.2rem;
      text-align: center;
      line-height: 2.4rem;
    }
  }
}

.till-set {
  display: flex;
  flex-flow: row wrap;
  margin-top: 3rem;

  .left-side {
    margin: 6.5rem 0 0 3rem;
    max-width: 42rem;
    position: relative;
    z-index: 1;

    .techradar {
      margin-bottom: 5rem;

      .techradar-images {
        max-width: 42rem;
        display: flex;
        justify-content: space-around;
        img {
          &:first-of-type {
            width: 44%;
          }
          width: 43%;
        }
      }

      p {
        font-size: 1.16rem;
        line-height: 1.9rem;
        max-width: 41rem;
        margin-left: 1.7rem;
      }
    }

    .the-complete-solution {
      margin-left: 2rem;
      h2 {
        color: $dark;
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
      ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 4.2rem;
        li {
          font-size: 1.5rem;
          color: $light;
          line-height: 3.2rem;
          img {
            width: 2rem;
            vertical-align: text-bottom;
            margin-right: 0.5rem;
          }
        }
      }
      .button-link {
        padding: 1rem 2.5rem;
      }
    }
  }

  .till-image {
    width: calc(100% - 43.5rem);
    margin-left: -2rem;
    img {
      width: 100%;
    }
  }
}

.video-container {
  padding: 9.5rem 4rem;
  position: relative;
  
  .image-holder {
    width: 88%;
    margin-left: auto;
    margin-right: 0;
    img {
      width: 100%;
      display: block;
    }
    
  }

  .floating-box {
    top: 17rem;
    left: 1.5rem;
    h3 {
      line-height: 3.7rem;
      margin-block-start: 1.5rem;
      margin-block-end: 1.5rem;
    }
    p {
      font-size: 1.33rem;
      line-height: 2.1rem;
      margin-block-end: 2.7rem;
    }
    .quote {
      color: $eposBlue;
      font-size: 1.34rem;
      font-weight: 600;
    }
    .button-link {
      padding: 1rem 1.65rem;
    }
    .underlined {
      color: $eposBlue;
      font-size: 1.5rem;
      font-weight: 600;
      margin-left: 1.8rem;
      padding: 0 0.4rem 0.3rem 0.4rem;
      border-bottom: solid 3px $eposBlue;
    }
    svg {
      vertical-align: text-top;
      margin-right: 0.3rem;
      margin-left: -0.3rem;
    }
  }
}