.trustpilot {
  display: block;
  margin-top: 4rem;
  margin-bottom: 9rem;
  max-width: fit-content;
  img {
    width: 100%;
    max-width: 57rem;
  }
}

.centered-paragraph {
  max-width: 60%;
  text-align: center;
  .centered-paragraph-title {
    font-size: 3rem;
    color: $dark;
    font-weight: 600;
    line-height: 3.7rem;
    margin-block-end: 2rem;
  }
  .centered-paragraph-description {
    font-size: 1.5rem;
    text-align: initial;
    max-width: 80%;
    text-indent: 1rem;
    color: $light;
    line-height: 2.3rem;
  }
  &.questions-box {
    margin-top: -2rem;
    margin-bottom: 12rem;
    h2 {
      font-size: 4rem;
    }
    .centered-paragraph-description {
      text-align: center;
      text-indent: 0rem;
      margin-block-end: 3.5rem;
    }
  }
}

.small-card-set {
  display: flex;
  flex-flow: row wrap;
  padding: 4rem 0;
  .small-card {
    max-width: 33%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    img {
      width: 4rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin-block-end: 1rem;
    }
    p {
      margin-block-start: 0rem;
      font-size: 1.5rem;
      padding: 0rem 4.2rem;
      text-align: center;
      line-height: 2.4rem;
    }
  }
}

