.container {
    width: 100%;
    max-width: 1700px;
}


.button-link {
    color: white;
    background-color: $eposBlue;
    border-radius: 2rem;
    font-size: 1.55rem;
    font-weight: 500;
    padding: 1rem 3.3rem;
    &:hover {
        background-color: $eposBlueHover;
    }
    transition: background-color 200ms;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}