.container {
    width: 100%;
    max-width: 1700px;
}


.button-link {
    color: white;
    background-color: $eposBlue;
    border-radius: 2rem;
    font-size: 1.55rem;
    font-weight: 500;
    padding: 1rem 3.3rem;
    &:hover {
        background-color: $eposBlueHover;
    }
    transition: background-color 200ms;
}

.centered-box {
    margin-left: auto;
    margin-right: auto;
}

.floating-box {
    position: absolute;
    background-color: white;
    padding: 0.8rem 0rem 4rem 3.3rem;
    min-width: 28.4rem;
    max-width: 32rem;
    box-shadow: 0 0.8rem 4rem $cardShadow;
    h3 {
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
    &.padded {
      padding-right: 1.4rem;
    }
  }